.nested-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    min-height: 100vh;
}

.img-container {

}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}