.nested-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    min-height: 100vh;
    grid-gap: 0.3rem;
    margin: 0.3rem;
}

.img-container {
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.img-container img:hover {
    transform: scale(1.2);
}

.modal{
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal p {
    color: $fa-border-color;
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
}