.nested-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    min-height: 100vh;
    grid-gap: 0.3rem;
    margin: 0.3rem;
}

.img-container {

}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container img:hover {
    transform: scale(1.1);
}