.aga {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/aga.jpg);
}

.amina {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/amina.jpg);
}

.arina {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/arina.jpg);
}

.daria {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/daria.jpg);
}

.diana {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/diana.jpg);
}

.domi {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/domi.jpg);
}

.jacek {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/jacek.jpg);
}

.lesia_19 {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/lesia_2019.jpg);
}

.lesia_20 {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/lesia_2020.jpg);
}

.michal {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/michal.jpg);
}
