.aga {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/Aga_prev.jpg);
}

.amina {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/Amina_prev.jpg);
}

.arina {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/Arina_prev.jpg);
}

.daria {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/Daria_prev.jpg);
}

.diana {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/Diana_prev.jpg);
}

.domi {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/Domi_prev.jpg);
}

.jacek {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/Jacek_prev.jpg);
}

.lesia_19 {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/Lesia2019_prev.jpg);
}

.lesia_20 {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/Lesia_prev.jpg);
}

.michal {
    background-image: url(https://leelooweb.s3.us-east-2.amazonaws.com/portraits/prev/Michal_prev.jpg);
}
