@import "partials/nav";
@import "partials/slider";
@import "partials/footer";
@import "partials/contact";
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";

html {
  font-family: 'Heebo', sans-serif;
}

